* {
	box-sizing: border-box;
	font-weight: 200;
	padding: 0;
	margin: 0;
  font-family: Montserrat;
}

body {
  overflow: hidden;
  height: 100vh;
  background-size: cover;
}

.header {
	height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: row;
}

.title {
  padding-left: 60px;
  display: flex;
  align-items: center;
  color:#fff;
}

.header-text {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ff4c4c;
    margin-top: 40px;
    padding-right: 110px;
    font-weight: 500 ;
}

.header {
  background-color: #333;
  height: 120px;
}

.panel {
  padding: 60px;
  color: #fff;
  font-size: 20px;
  width: 31vw;
}

.panel-bg {
  background-color: rgba(47, 47, 47, 0.7);
  width: 31vw;
  margin: 60px;
  border-radius: 20px;
  margin-left: 35.5%;
}


.panel-input {
  height: 3vh;
  width: 26vw;
  border-radius: 10px;
  border: none;
  cursor: text;
  font-size: 20px;
  resize: none;
}

.panel-input:hover {
  transition: 2s;
  background-color: #cdcdcd;
}


.panel-button {
  border-radius: 20px;
  border: none;
  height: 40px;
  width: 600px;
  font-weight: 500;
  background-color: #fff;
  cursor: pointer;
  margin-top: 30px;
  text-align: center;
}

.panel-text {
  margin-top: 20px;
  padding-bottom: 10px;
  color: #fff;
}

.panel-description {
  height: 8vh;
  width: 26vw;
  border-radius: 10px;
  border: none;
  font-size: 20px;
  resize: none;
}

a {
  text-decoration: none;
  color: #fff;
}

.button-submit {
  padding-top: 12px;
  background-color: #3bda78;
  color: white;
  text-align: center;
  padding-bottom: 20px;
  width: 26vw;
}

.button-reset {
  background-color: #ff4c4c;
  width: 26vw;
  color: white;
}

.container {
  background: url(../images/bg.jpg);
  background-size: cover;
  height: 100vh;
}

.button-submit:hover {
  transition: 0.7s;
  background-color: #2d9a57;
}

.button-reset:hover {
  transition: 0.7s;
  background-color: #b53737;
}

