* {
	box-sizing: border-box;
	font-weight: 400;
	padding: 0;
	margin: 0;
  font-family: Montserrat;
}

body {
  overflow: hidden;
  height: 100%;
}

.header {
	height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: row;
}

.title {
  padding-left: 3.5%;
  display: flex;
  align-items: center;
  color:#fff;
}

.header-text {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ff4c4c;
  margin-top: 1.4em;
  font-weight: 300;
  padding-left: 4%;
}

.header {
  background-color: rgba(0, 0, 0, 0.5);
  height: 7em;
}

.panel {
  padding: 10%;
  color: #fff;
  font-size: 1em;
  width: 31vw;
}

.panel-bg {
  background-color: rgba(47, 47, 47, 0.7);
  width: 32.5%;
  margin: 1%;
  border-radius: 20px;
  margin-left: 35.5%;
}


.panel-input {
  height: 2em;
  width: 26vw;
  border-radius: 10px;
  border: none;
  cursor: text;
  font-size: 1em;
  resize: none;
  padding: 0.3em;
}

.panel-input:hover {
  transition: 1s;
  background-color: #cdcdcd;
  color: #333;
}


.panel-button {
  border-radius: 10px;
  border: none;
  height: 2em;
  width: 100%;
  font-weight: 400;
  background-color: #fff;
  cursor: pointer;
  margin-top: 5%;
  text-align: center;
}

.panel-text {
  margin-top: 3%;
  padding-bottom: 2%;
  color: #fff;
}

.panel-description {
  height: 8vh;
  width: 26vw;
  border-radius: 10px;
  border: none;
  font-size: 1em;
  resize: none;
  padding: 0.3em;
}

a {
  text-decoration: none;
  color: #fff;
}

.button-submit {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3bda78;
  color: white;
  width: 26vw;
  padding-top: 3%;
  height: 3em;
  padding-bottom: 0.8em;
}

.button-reset {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  background-color: #ff4c4c;
  width: 26vw;
  padding-top: 3%;
  height: 3em;
  padding-bottom: 0.8em;
}

.container {
  background: url(../images/bg\(dark\).jpg);
  background-size: cover;
  height: 100vh;
}

.button-submit:hover {
  transition: 0.7s;
  background-color: #2d9a57;
}

.button-reset:hover {
  transition: 0.7s;
  background-color: #b53737;
}

.admin-img {
  width: 4em;
  height: 4em;
  border-radius: 50%;
  margin-top: 2em;
  text-align: center;
}

.user-text {
  margin-left: 0.7em;
  margin-top: 3.3em;
  margin-right: 2.5em;
  color: #fff;
  font-weight: 200;
}

.bx-reset {
  padding-left: 0.5em;
}

.bx-movie {
  padding-left: 0.5em;
}
