* {
	box-sizing: border-box;
	font-weight: 400;
	padding: 0;
	margin: 0;
  font-family: Montserrat;
}

body {
  overflow: hidden;
  height: 100vh;
  background-size: cover;
}

.header {
	height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: row;
}

.title {
  padding-left: 3.5%;
  display: flex;
  align-items: center;
  color:#fff;
}

.header-text {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ff4c4c;
  margin-top: 1.4em;
  padding-right: 9%;
  font-weight: 300;
  padding-left: 3.5%;
}

.header {
  background-color: rgba(0, 0, 0, 0.5);
  height: 7em;
}

a {
  text-decoration: none;
  color: #fff;
}

.container {
  background: url(../images/bg\(dark\).jpg);
  background-size: cover;
  height: 100%;
}

.panel-text {
  margin-top: 4%;
  padding-bottom: 3%;
  color: #fff;
  text-align: left;
}

.login-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(47, 47, 47, 0.7);
  width: 32%;
  height: 28em;
  margin-left: 35%;
  margin-top: 4%;
  border-radius: 20px;
}

.login-button {
  margin-top: 2%;
  width: 100%;
  height: 2.5em;
  border: none;
  border-radius: 10px;
  color: #fff;
  background-color: #3bda78;
  cursor: pointer;
  font-weight: 600;
  cursor: pointer;
}

.login-button:hover {
  transition: 1.2s;
  background-color: #2d9a57;
  color: #fff;
}


.login-input {
  display: flex;
  border: none;
  border-radius: 8px;
  width: 20vw;
  height: 2em;
  font-size: 1em;
  padding: 1em;
  border: none;
}

.admin-img {
  width: 6em;
  height: 6em;
  border-radius: 50%;
}

.login {
  text-align: center;
}